#header {
  height: 138px;
}
#header .header {
  height: 138px;
}
#header .header .headerUp {
  height: 29px;
  background: #FAFAFA;
  border-bottom: 1px solid #EEEEEE;
}
#header .header .headerUp .headerupLeft {
  height: 29px;
}
#header .header .headerUp .headerupLeft span {
  display: block;
  height: 29px;
  font-size: 12px;
  color: #787878;
  line-height: 29px;
}
#header .header .headerUp .headerupRight {
  height: 29px;
}
#header .header .headerUp .headerupRight li {
  float: left;
  height: 29px;
  background: url(../images/hur_gd.png) no-repeat center right;
}
#header .header .headerUp .headerupRight li.last {
  background: none;
}
#header .header .headerUp .headerupRight li.sjm {
  position: relative;
}
#header .header .headerUp .headerupRight li.sjm img {
  display: none;
  border: 1px solid #ddd;
  position: absolute;
  left: -50px;
  top: 25px;
  z-index: 1;
}
#header .header .headerUp .headerupRight li.sjm:hover img {
  display: block;
  border-top: none;
}
#header .header .headerUp .headerupRight li a {
  display: block;
  height: 29px;
  font-size: 12px;
  color: #787878;
  line-height: 29px;
  margin: 0 12px;
}
#header .header .headerUp .headerupRight li a:hover {
  color: blue;
  text-decoration: underline;
}
#header .header .headerDown {
  height: 108px;
}
#header .header .headerDown .headerdownAll {
  height: 82px;
}
#header .header .headerDown .headerdownAll .logo {
  width: 304px;
  height: 82px;
}
#header .header .headerDown .headerdownAll .cartBuzou {
  width: 452px;
  height: 46px;
  margin: 30px 30px 0px 0px;
}

#nav {
  height: 39px;
  background: #0099E6;
}
#nav .nav {
  height: 38px;
}
#nav .nav .classifyAll {
  width: 220px;
  height: 38px;
  background: #0086D4;
  position: relative;
}
#nav .nav .classifyAll h2 {
  width: 220px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  line-height: 38px;
  color: #FFF;
  font-weight: 900;
}
#nav .nav .classifyAll h2 img {
  margin: -4px 10px 0px 0px;
}
#nav .nav .classifyAll .showList {
  display: none;
  width: 218px;
  height: 420px;
  background: #F1FAFD;
  border: 1px solid #ddd;
  left: 0px;
  top: 1px;
  position: relative;
  z-index: 1;
}
#nav .nav .classifyAll .showList a:hover {
  text-decoration: underline;
}
#nav .nav .classifyAll .showList li {
  width: 188px;
  height: 50px;
  border-left: 5px solid #F1FAFD;
  padding: 0 15px 0 10px;
  padding-top: 10px;
}
#nav .nav .classifyAll .showList li:hover {
  background: #FFF;
  border-left: 5px solid #58bc58;
}
#nav .nav .classifyAll .showList li:hover .tshow {
  display: block;
}
#nav .nav .classifyAll .showList li h3 {
  width: 188px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 900;
}
#nav .nav .classifyAll .showList li h3 a {
  color: #0086D4;
}
#nav .nav .classifyAll .showList li h3 img {
  margin: -3px 8px 0px 0px;
}
#nav .nav .classifyAll .showList li p {
  padding: 0 0 3px 25px;
  border-bottom: 1px solid #ddd;
}
#nav .nav .classifyAll .showList li p.last {
  border: none;
}
#nav .nav .classifyAll .showList li p a {
  display: inline-block;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  color: #666;
}
#nav .nav .classifyAll .showList li .tshow {
  display: none;
  width: 970px;
  height: 420px;
  position: absolute;
  left: 218px;
  top: -1px;
  background: #fff;
  z-index: 1;
}
#nav .nav .classifyAll .showList li .tshow .tshowLeft {
  width: 738px;
  height: 358px;
  padding: 30px 0 30px 30px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#nav .nav .classifyAll .showList li .tshow .tshowLeft .item {
  float: left;
  width: 338px;
  margin: 0 30px 10px 0;
}
#nav .nav .classifyAll .showList li .tshow .tshowLeft .item h4 {
  height: 30px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 900;
  border-bottom: 1px solid #ddd;
}
#nav .nav .classifyAll .showList li .tshow .tshowLeft .item p {
  padding: 0;
  border: 0;
}
#nav .nav .classifyAll .showList li .tshow .tshowRight {
  width: 198px;
  height: 418px;
}
#nav .nav .navBar {
  width: 625px;
  height: 38px;
  margin-left: 5px;
}
#nav .nav .navBar li {
  float: left;
}
#nav .nav .navBar li:hover {
  background: #0086D4;
}
#nav .nav .navBar li.zhou {
  background: url(../images/nav_down.png) no-repeat 62px 19px;
  position: relative;
}
#nav .nav .navBar li.zhou .exm {
  display: none;
  width: 180px;
  background: #FFF;
  position: absolute;
  left: 0px;
  top: 38px;
  border: 1px solid #eee;
}
#nav .nav .navBar li.zhou .exm .title {
  color: #008ee0;
  font-size: 16px;
  line-height: 20px;
}
#nav .nav .navBar li.zhou .exm .exm1, #nav .nav .navBar li.zhou .exm .exm2 {
  width: 125px;
  padding: 5px 0;
  margin-left: 20px;
}
#nav .nav .navBar li.zhou .exm .exm1 a, #nav .nav .navBar li.zhou .exm .exm2 a {
  display: block;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  margin: 0;
}
#nav .nav .navBar li.zhou .exm .exm1 a:hover, #nav .nav .navBar li.zhou .exm .exm2 a:hover {
  color: skyblue;
}
#nav .nav .navBar li.zhou .exm .exm1 {
  border-bottom: 1px solid #ccc;
}
#nav .nav .navBar li.zhou:hover {
  background: #0086D4 url(../images/nav_up.png) no-repeat 62px 19px;
}
#nav .nav .navBar li.zhou:hover .exm {
  display: block;
  z-index: 2;
}
#nav .nav .navBar li a {
  display: block;
  height: 38px;
  font-size: 15px;
  line-height: 38px;
  color: #FFF;
  margin: 0 22px;
}
#nav .nav .tu {
  width: 200px;
  height: 38px;
}

#main {
  background: #F6F6F6;
}
#main .main .til {
  height: 48px;
}
#main .main .til h1 {
  height: 48px;
  width: 200px;
  font-size: 20px;
  font-weight: 900;
  line-height: 48px;
  margin-left: 20px;
}

#footer {
  height: 276px;
  background: #FFF;
}
#footer .footer {
  height: 276px;
}
#footer .footer .footerUp {
  height: 140px;
  padding-top: 28px;
}
#footer .footer .footerUp div, #footer .footer .footerUp ul {
  height: 140px;
}
#footer .footer .footerUp .upLeft {
  width: 145px;
  margin-right: 80px;
}
#footer .footer .footerUp ul {
  width: 670px;
}
#footer .footer .footerUp ul li {
  float: left;
  width: 108px;
  margin-right: 25px;
}
#footer .footer .footerUp ul li p {
  height: 28px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 900;
  color: #333;
}
#footer .footer .footerUp ul li a {
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  display: block;
  color: #666;
}
#footer .footer .footerUp ul li a:hover {
  text-decoration: underline;
}
#footer .footer .footerUp .upRight {
  width: 98px;
  margin-right: 10px;
}
#footer .footer .fen {
  height: 28px;
}
#footer .footer .footerDown {
  height: 80px;
}
#footer .footer .footerDown img {
  margin: 15px 0px 0px 136px;
}

/*# sourceMappingURL=cart.css.map */
